<div class="main-content-crops box-main-container h-auto m-5">
  <div class="button-pagination-div">
    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'mi cultivo' }"
      (click)="selectButton('mi cultivo')"
    >
      <p class="text_nav-color">MI CULTIVO</p>
    </button>

    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'estadisticas' }"
      (click)="selectButton('estadisticas')"
    >
      <p class="text_nav-color">ESTADÍSTICAS</p>
    </button>

    <button
      class="button-pagination_button"
      [ngClass]="{ active: selectedButton === 'parametros' }"
      (click)="selectButton('parametros')"
    >
      <p class="text_nav-color">PÁRAMETROS AMBIENTALES</p>
    </button>
  </div>


  <div  *ngIf="selectedButton === 'mi cultivo'">
    <app-card-my-crop [device]="deviceData" [cropType]="cropType"></app-card-my-crop>
  </div>

  <div  *ngIf="selectedButton === 'estadisticas'">
    <app-card-statistics [measurements]="measurements"></app-card-statistics>
  </div>

  <div  *ngIf="selectedButton === 'parametros'">
    <app-card-parameters  [parameters]="parameters"   (saveParameters)="guardarParametrosActualizados($event)" ></app-card-parameters>
  </div>

</div>
